.chatBox{
    height: 95vh;
    overflow-y: scroll;
    background-color: rgb(255, 255, 255)
}

.chatBubbles{
    display: inline-block;
    max-width: 500px;
    height: auto;
    padding: 20px;
    background-color: rgb(255, 0, 0);
    border-radius: 20px;
}

.userPhoto{
    object-fit: contain;
    height: 60px;
    border-radius: 100%;
}

.messageContainerToTheLeft{
    display: flex;
    margin: 10px;
    gap: 20px;
}

.messageContainerToTheRight{
    display: flex;
    flex-direction: row-reverse;
    margin: 10px;
    gap: 20px
}

.userSaid{
    font-weight: bold;
}




.inputContainer{
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: center;
}

.input{
    font-size: 25px;
    background-color:darkgrey;
    color: white;
    border: none;
    width: 60%;
    height: 100%;
}


.sendMessage, .logoutButton{
    width: 20%;
    height: 100%;
    cursor: pointer;
    border: none;
}

.logoutButton{
    border-left: 1px solid black;
}

.sendMessage:hover, .logoutButton:hover{
    background-color: grey;
    color: white;
}